.custom-event-block {
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    z-index: 999;
    padding: 2px 2px 0 2px;
    cursor: pointer;
    color: rgb(33, 33, 33);
    font-family: "Open Sans", Lato, Arial, sans-serif;
    overflow: hidden;
}

.custom-event-block:hover {
    z-index: 10001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

.high-risk {
    background-color: #ffc6c6;
}

.medium-risk {
    background-color: #ffffc6;
}

.low-risk {
    background-color: #c6ffc6;
}

.overbooked {
    border-left: 5px solid tomato;
}

.eventHeader {
    margin-bottom: 2px;
}

.eventName {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.nameContainer {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.nameContainer > svg {
    margin-right: 2px;
    fill: rgb(33, 33, 33);
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.techName {
    font-weight: 600;
}

.techAvatar {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    color: #fafafa;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #bdbdbd;
}

.techAvatar > img {
    width: 20px;
    height: 20px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.eventTime {
    margin: 5px 0px;
    font-style: italic;
}

#floating-button {
    min-height: 32px;
    padding: 3px 9px;
    font-size: 0.8125rem;
    color: rgb(97, 97, 97);
    border: 1px solid rgba(97, 97, 97, 0.5);
    font-family: "Open Sans", Lato, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.14;
    border-radius: 4px;
    text-transform: uppercase;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    transition: all 0.2s ease;
}

#floating-button img {
    height: 24px;
    width: 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
}

#floating-button span {
    margin-left: 5px;
    vertical-align: middle;
}

#floating-button:hover {
    background-color: #F0F0F0;
    border: 1px solid rgba(97, 97, 97, 0.7);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
    transform: translate(-50%, 1px);
}

#upwork-popup {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 1px;
    max-width: 1px;
    display: flex;
    max-height: 1px;
    min-height: 1px;
}

#upwork-popup > iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    min-height: 380px;
}

#init-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: flex;
}

#init-popup > iframe {
    width: 1px;
    height: 1px;
    border: 0px;
    min-height: 1px;
}
